* {
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}

@media (min-width: 500px) {
    .mobile-header {
        display: none;
    }

    .section-two {
        display: none;
    }
}
@media (min-width: 640px) {
}

@media (min-width: 971px) {
    .mobile-header {
        display: flex;
    }

    .section-two {
        display: flex;
    }

    .section-one {
        display: none;
    }
}

@media (min-width: 1024px) {
    /*.mobile-header {
        display: flex;
    }*/
}

@media (min-width: 1280px) {
}

@media (min-width: 1536px) {
}

body {
    position: relative;
    margin: 0;
    background: #282727;
}

html, body, header {
    height: 100%;
}

header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
}

nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

.nav-list {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
}

li {
    display: flex;
    justify-content: center;
    margin: 48px;
    cursor: pointer;
}

.log-in {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    color: white;
    padding-right: 1.5rem;
    cursor: pointer;
    font-size: 1.2rem;
}

.nav-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 40px;
    color: white;
    font-size: 1.2rem;
}

.nav-icons .fa-user {
    padding: 1rem;
}

.header-logo img {
    width: 134px;
    height: 74px;
}

.section-one {
    /*height: 556px;*/
    position: relative;
    z-index: 2;
    color: white;
}

.main-img {
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 0;
}

.section-text {
    margin: 30px 0 0 40px;
}

.movie-text {
    margin: 0;
    font-size: 24px;
    font-family: "SF Hollywood Hills";
}

.sub-text {
    font-size: 16px;
    font-family: Barlow, sans-serif;
    font-weight: 300;
}

.see-now {
    width: 88px;
    height: 24px;
    margin: 8px 0 0 40px;
    background: #FF961A;
    color: white;
    border-radius: 8px;
    border: 0;
    font-size: 12px;
    cursor: pointer;
}

.btn-pluss {
    width: 28px;
    height: 24px;
    background: #282727;
    color: white;
    border-radius: 8px;
    border: 0;
    font-size: 12px;
    cursor: pointer;
}

.svg-two {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 200px 0 0 0;
}

.test {
    margin: 63px 0px 16px 0px;
}

.press-me {
    position: relative;
}



