* {
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}

body {
    margin: 0;
}

header {
    background-color: transparent;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
}

nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 70px;
}

.header-logo img {
    width: 134px;
    height: 74px;
}

.nav-list {
    color: white;
    list-style-type: none;
    display: flex;
    padding: 0;
}

li {
    display: inline;
    justify-content: space-between;
    align-items: center;
    margin: 48px;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

section {
    height: 556px;
    position: relative;
    z-index: 10;
    color: white;
}

img {
    position: absolute;
    top: 0;
    width: 100vw;
}